.toolbar {
    background-color: black;
    color: rgb(214, 214, 255);
    
}

.ControlButton {
    margin: 2px 1px;
}

.arrayBar {
    background-color: turquoise;
    border: 1px solid rgb(46, 155, 144);
    display: inline-block;
}